body {
  background-image:url(https://i.imgur.com/Npa2FQK.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed; /* Fijar la imágen */
  margin: 0;
  font-family: monospace;
}

.start {text-align: center;
}

.presentacion{
  position: absolute;
  top:50%;
	left:50%;
  width: 450px ; /* Ancho */
  height:300px;
  margin-left:-200px;
  margin-top:-150px;
  text-align: center;
  background:rgba(0,0,0,0.8); /* 5to dígito transparencia*/
  padding: 90px 20px ; /*Relleno : 90 vertical 20 horizontal*/
  box-sizing: border-box ; /*El relleno del formulario*/
  border-radius: 20px ; /* esquinas redondeadas */
  font-size: 15px;
  color:#ffffff;

}

.principal{
  position: absolute;
  top:50%;
	left:50%;
  width: 450px ; /* Ancho */
  height:520px;
  margin-left:-200px;
  margin-top:-270px;
  margin-bottom:-150px;
  text-align: center;
  background:rgba(0,0,0,0.8); /* 5to dígito transparencia*/
  padding: 30px 20px ; /*Relleno : 130 vertical 20 horizontal*/
  box-sizing: border-box ; /*El relleno del formulario*/
  border-radius: 20px ; /* esquinas redondeadas */
  font-size: 15px;
  
}

h1{
  text-align: center;
  margin : 0 ;
  font-size: 25px;
  margin-bottom: 10px;
  color:#ffffff;
}

label{
  text-align: left;
  margin : 0 ;
  font-size: 15px;
  margin-bottom: 20px;
  color:#ffffff;
}

input , textarea {
  width: 100% ; /* Ancho del 100%*/
  margin-bottom: 10px;
  padding: 3% ; /*Agrana el tamaño del ingreso*/
  box-sizing: border-box ;
  font-size: 15px;
  border: none;
}

.button {
  background-color: #37794b; /*Color fondo de botón*/
  color:black ; /*texto del boton*/
  padding: 10px; /* del texto al borde del boton */
  margin: 10px 0px 10px 0px; /*superior derecho  inferior izquierdo*/
  font-weight: bold;
}

#btnEncode, #btnDecode {
  width: 48%;
  font-size: 12px;

}

/*ancho como max*/
@media(max-width:480px){
  form{
      width: 100%;
  }
}|< |>
