body {
  background-image:url(https://i.imgur.com/Npa2FQK.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed; /* Fijar la imágen */
  margin: 0;
  font-family: monospace;
}

.intro{
  position: absolute;
  top:50%;
	left:50%;
  width: 450px ; /* Ancho */
  height: 320px;
  margin-left:-200px;
  margin-top:-150px;
  text-align: center;
  background:rgba(0,0,0,0.8); /* 5to dígito transparencia*/
  padding: 50px 20px ; /*Relleno : 90 vertical 20 horizontal*/
  box-sizing: border-box ; /*El relleno del formulario*/
  border-radius: 20px ; /* esquinas redondeadas */
  font-size: 15px;
  color:#ffffff;
}

.cipher{
  position: absolute;
  top:50%;
	left:50%;
  width: 450px ; /* Ancho */
  height:520px;
  margin-left:-200px;
  margin-top:-270px;
  margin-bottom:-150px;
  text-align: center;
  background:rgba(0,0,0,0.8); /* 5to dígito transparencia*/
  padding: 30px 20px ; /*Relleno : 130 vertical 20 horizontal*/
  box-sizing: border-box ; /*El relleno del formulario*/
  border-radius: 20px ; /* esquinas redondeadas */
  font-size: 15px;
}

h1{
  text-align: center;
  margin : 0 ;
  font-size: 25px;
  color:#66C5E8;
}

label{
  text-align: left;
  margin : 0 ;
  font-size: 15px;
  margin-bottom: 20px;
  color:#ffffff;
}

input , textarea {
  width: 100% ; /* Ancho del 100%*/
  margin-bottom: 10px;
  padding: 3% ; /*Agrana el tamaño del ingreso*/
  box-sizing: border-box ;
  font-size: 15px;
  border: none;
}

#btnStart {
  width: 30%;
  font-size: 12px;
  font-weight: bold;
  background-color: #66C5E8; /*Color fondo de botón*/
  color:white ; /*texto del boton*/
  text-align: center;
}

#btnEncode, #btnDecode {
  width: 48%;
  font-size: 12px;
  font-weight: bold;
  background-color: #66C5E8; /*Color fondo de botón*/
  color:white ; /*texto del boton*/
  margin-bottom: 20px;
}

#btnClean {
  background-color: #66C5E8; /*Color fondo de botón*/
  color:white ; /*texto del boton*/
  padding: 10px; /* del texto al borde del boton */
  margin: 0px 0px 10px 0px; /*superior derecho  inferior izquierdo*/
  font-weight: bold;
}

/*ancho como max*/
@media(max-width:480px){
  form{
      width: 100%;
  }
}
